* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0,0%,20%);
    color: white;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    max-width: 500px;
    overflow: hidden;
    border-radius: 20px;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 45%);
}
button:active{
    background-color: hsl(0, 0%, 60%);
}

.operator{
    background-color: hsl(0, 100%, 70%);
}
.operator:hover{
    background-color: hsl(0, 100%, 60%);
}
.operator:active{
    background-color: hsl(0, 100%, 50%);
}