* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;

}

.app{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 400px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 50px black;


}
#box{
    width: 80%;
    height: 40px;
    align-self: center;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px grey;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
}
.app h1{
    color:  grey;
    text-shadow: 0px 0px 0px yellow,
    0px 0px 5px orange
    ;
}
button{
   background-color: red;
   color: white;
   border: none;
   padding: 5px;
   font-size: 1.5rem;
   width: 50%;
   align-self: center;
   cursor: pointer;
}